---
import Layout from '@layouts/Layout.astro';
import { sortArticlesBy } from '@libs/articles';
import { buildTitle } from '@libs/util';
import { getCollection } from 'astro:content';
import TaxonomyTemplate from '@components/TaxonomyTemplate.vue';

export const getStaticPaths = async () => {
  const rawArticles = await getCollection('articles')

  const key = 'categories'
  const categoryArticles = sortArticlesBy(rawArticles, {
    by: key
  })

  const paths = categoryArticles.map((categoryArticle) => {
    return {
      params: {
        category: categoryArticle[key]
      },
      props: {
        category: categoryArticle[key],
        articles: categoryArticle.articles
      }
    }
  })

  return paths
}

const { category, articles } = Astro.props
---

<Layout title={buildTitle(`カテゴリー: ${category}`)}>
  <main>
    <div class="w-full px-4 md:px-6">
      <TaxonomyTemplate client:load type="category" label="カテゴリー" taxonomy={category} articles={articles} />
    </div>
  </main>
</Layout>
