---
import Layout from '@layouts/Layout.astro';
import { sortTaxonomies } from '@libs/articles';
import { buildTitle } from '@libs/util';
import { getCollection } from 'astro:content';
import Icon from '@components/Icon.vue';

const rawArticles = await getCollection('articles')
const sortedCategories = sortTaxonomies(rawArticles, 'categories')
---

<Layout title={buildTitle('カテゴリー一覧')}>
  <main>
    <div class="w-full px-4 md:px-6">
      <h1 class="flex items-center">
        <Icon client:load name="folder" class:list={["mr-2", "fill-current"]} />
        カテゴリー一覧
      </h1>

      <hr class="border-b-2 border-gray-400 my-4">

      {
        sortedCategories.map((category: any) => (
          <div class="inline-flex items-center text-base md:text-sm text-gray-500 mt-4 mr-8">
            <Icon client:load name="folder" class:list={["mr-2", "fill-current"]} />
            <a
              href={`/category/${category.name}`}
              class="text-base md:text-xl text-teal-500 no-underline hover:underline mx-1"
            >
              { category.name }({ category.count })
            </a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
