$tailwind-theme-color-teal: theme('colors.teal.600');

footer, .post-content {
  a {
    text-decoration: underline;

    &:link {
      color: blue;
    }
    &:visited {
      color: purple;
    }
    &:hover {
      text-decoration-style: dotted;
    }
    &:hover:after {
      width: 100%;
    }
    &:active {
      color: red;
    }
  }
}

.pager-link {
  @apply px-3;
  @apply py-2;
  @apply block;
  @apply no-underline;
  @apply border-t;
  @apply border-l;
  @apply border-b;
  @apply bg-white;
  color: var(--tailwind-theme-color-teal);

  &:hover {
    background-color: #f1f5f8;
  }
  &.active {
    background-color: var(--tailwind-theme-color-teal);
    border-color: var(--tailwind-theme-color-teal);
    @apply text-white;
  }
  &:disabled {
    background-color: #f1f5f8;
    color: #8795a1;
  }
  &:first-child {
    @apply rounded-tl;
    @apply rounded-bl;
  }
  &:last-child {
    @apply border-r;
    @apply rounded-tr;
    @apply rounded-br;
  }
}
