:root {
  --tailwind-theme-color-teal: theme('colors.teal.600');
}

footer a,
.post-content a
{
  text-decoration: underline;
}
footer a:link,
.post-content a:link
{
  color: blue;
}
footer a:visited,
.post-content a:visited
{
  color: purple;
}
footer a:hover,
.post-content a:hover
{
  text-decoration-style: dotted;
}
footer a:hover:after,
.post-content a:hover:after
{
  width: 100%;
}
footer a:active,
.post-content a:active
{
  color: red;
}

.pager-link {
  @apply px-3;
  @apply py-2;
  @apply block;
  @apply no-underline;
  @apply border-t;
  @apply border-l;
  @apply border-b;
  @apply bg-white;
  color: var(--tailwind-theme-color-teal);
}
.pager-link:hover {
  background-color: #f1f5f8;
}
.pager-link.active {
  background-color: var(--tailwind-theme-color-teal);
  border-color: var(--tailwind-theme-color-teal);
  @apply text-white;
}
.pager-link:disabled {
  background-color: #f1f5f8;
  color: #8795a1;
}
.pager-link:first-child {
  @apply rounded-tl;
  @apply rounded-bl;
}
.pager-link:last-child {
  @apply border-r;
  @apply rounded-tr;
  @apply rounded-br;
}

.post-content h2 {
  @apply text-4xl;
}
.post-content p {
  @apply my-4;
}
.post-content figcaption {
  @apply text-sm;
  @apply text-gray-700;
  @apply text-center;
}
